PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/splitsync
JWT_SECRET=your_super_secret_jwt_key_here
CLIENT_URL=http://localhost:5173
REDIS_URL=redis://localhost:6379
CLOUDINARY_URL=cloudinary://<api_key>:<api_secret>@<cloud_name>
EMAIL_API_KEY=your_resend_api_key_here
NODE_ENV=development
